@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark: #40514E;
  --color-light: #E4F9F5;
  --color-primary: #11999E;
  --color-highlight: #30E3CA;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #40514E;
  --background-end-rgb: #40514E;
}

.inverted {
  color: var(--color-dark);
  background: var(--color-light);
}
.background-primary {
  background: var(--color-primary);
}
.background-highlight {
  background: var(--color-highlight);
}
.background-dark {
  background: var(--color-dark);
}
.text-light {
  color: var(--color-light)
}


body {
  
  color: var(--color-light);
  background: var(--color-dark);
}
